<%= form_for(@menu) do |f| %>
	<% if @menu.errors.any? %>
	<div id="explicacao_erro">
		<h2>Devido a estes <%= pluralize(@menu.errors.count, "error") %> 
			este novo cardápio não pode ser salvo:</h2>
		
		<ul>
			<% @menu.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
		</ul>
	</div>
	<% end %>
	
	<div class="campo_form">
		<%= f.label :restaurant %><br />
		<% @restaurants.each_with_index do |r, i| %>
			<%= f.radio_button(:restaurant_id, r.id, :checked => (i == 0 or r.id == @menu.restaurant_id)? true:false ) %>
			<%= r.name %><br /> 
		<% end %>
	</div>
	<div class="campo_form">
		<%= f.label :day %><br />
		<%= f.date_select(:day,:start_year => 2013)  %>
	</div>
	<div class="campo_form">
		<%= f.label :meal %><br />
		<% @meals.each_with_index do |m, i| %>
			<%= f.radio_button(:meal_id, m.id, :checked => ( i == 0 or m.id == @menu.meal_id)? true:false ) %>
			<%= m.name %><br /> 
		<% end %>
	</div>
	<div class="campo_form">
		<%= f.label :options %><br />
		<%= f.text_area :options %>
	</div>
	<div class="campo_form">
		<%= f.label :kcal %><br />
		<%= f.text_field :kcal %>
	</div>
	<div class="botao_enviar">
		<%= f.submit %>
	</div>
<% end %>