<%= form_for(@meal) do |f| %>
<% if @meal.errors.any? %>
<div id="explicacao_erro">
	<h2>Devido a estes <%= pluralize(@meal.errors.count, "error") %>
		esta nova refeição não pode ser salva:</h2>

		<ul>
			<% @meal.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
			<% end %>
		</ul>
	</div>
	<% end %>

	<div class='row' >
		<div class='col-sm-6' >
			<div class='form-group'>
				<%= f.label :name %><br />
				<%= f.text_field :name ,:class => "form-control" %>
			</div>
		</div>
	</div>
	<div class='row' >
		<div class='col-sm-6' >
			<div class='form-group'>
				<%= f.label :cost %><br />
				<%= f.text_field :cost ,:class => "form-control"  %>
			</div>
		</div>
	</div>
	<div class='row' >
		<div class='col-sm-6' >
			<div class='form-group'>
				<%= f.submit :class => "btn btn-primary"%>

			<% end %>
