<%= form_for(@campusunit) do |f| %>
<% if @campusunit.errors.any? %>
<div id="explicacao_erro">
	<h2>Devido a estes <%= pluralize(@campusunit.errors.count, "error") %> este novo Campus não pode ser salvo:</h2>
	<ul>
		<% @campusunit.errors.full_messages.each do |msg| %>
		<li><%= msg %></li>
		<% end %>
	</ul>
</div>
<% end %>

<div class='row' >
	<div class='col-sm-6' >
		<div class='form-group'>
			<%= f.label :Nome %><br />
			<%= f.text_field :name ,:class => "form-control"  %>
		</div>
	</div>
</div>
<div class='row' >
	<div class='col-sm-8' >
		<div class='form-group'>
			<%= f.label :Endereço %><br />
			<%= f.text_field :address, :class => "form-control"  %>
		</div>
	</div>
</div>
<div class='row' >
	<div class='col-sm-6' >
		<div class='form-group'>
			<%= f.submit  :class => "btn btn-primary" %>
<% end %>
