<p id="notice"><%= notice %></p>
<h1>Campus</h1>
<div style="font-size: 18px;">
	<p>
	  <b>Nome:</b>
	  <%= @campusunit.name %>
	</p>

	<p>
	  <b>Endereço:</b>
	  <%= @campusunit.address %>
	</p>
</div>

<%= link_to 'Editar', edit_campusunit_path(@campusunit), :class => "btn btn-primary" %>
<%= link_to 'Remover', @campusunit, :confirm => 'Tem certeza?', :method => :delete, :class => "btn btn-danger" %>
<%= link_to 'Voltar', campusunits_path, :class => "btn btn-default" %>