<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="">
		<title>Bandeco</title>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>

	</head>
	<body>

		<div class="site-wrapper">

			<div class="site-wrapper-inner">

				<div class="cover-container">

					<!-- <div class="masthead clearfix"> -->
						<!-- <div class="inner"> -->
							<!-- <h3 class="masthead-brand">Bandeco</h3> -->
							<!-- <div> -->
								<% @campusunits = Campusunit.all %>
								<% if @campusunits.any? %>
								<div class="navbar">
									<div class="container">
										<ul class="nav navbar-nav">
											<!-- <li class="active"><a href="#">Home</a></li> -->
											<% @campusunits.each do |campus| %>
											<li>
												<% if @campusunit and campus.id == @campusunit.id %>
													<%= link_to campus.name, {:controller => "campusunits", :action => "show", :id => campus.id }, :class => "campus_selected" %>
												<% else %>
													<%= link_to campus.name, :controller => "campusunits", :action => "show", :id => campus.id  %>
												<% end %>
											</li>
											<% end %>
										</ul>
									</div>
								</div>
								<% end %>

								<% if @restaurants %>
								<div class="navbar">
									<div class="container">
										<ul class="nav navbar-nav">
											<% @restaurants.each do |restaurant| %>
											<li>
												<% if @restaurant and restaurant.id == @restaurant.id %>
													<%= link_to restaurant.name, {:controller => "restaurants", :action => "show" , :id =>restaurant.id }, :class => "restaurant_selected" %>
												<% else %>
													<%= link_to restaurant.name, {:controller => "restaurants", :action => "show" , :id =>restaurant.id} %>
												<% end %>
											</li>
											<% end %>
										</ul>
									</div>
								</div>
								<% end %>

							<!-- </div> -->
						<!-- </div> -->
					<!-- </div> -->

					<div class="inner cover">
						<%= yield %>
					</div>

					<!-- <div class="mastfoot"> -->
						<!-- <div class="inner"> -->
							<p>
								Cover template for <a href="http://getbootstrap.com">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.
							</p>
						<!-- </div> -->
					<!-- </div> -->

				</div>

			</div>

		</div>

		<!-- Bootstrap core JavaScript
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="../../dist/js/bootstrap.min.js"></script>
		<script src="../../assets/js/docs.min.js"></script>

	</body>
</html>