<!DOCTYPE html>
<html lang="pt-br">
<head>		
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
	<title>Bandeco</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
	
</head>
<body>

	<div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">Bandeco</h3>
              <% @campusunits = Campusunit.all %>
			  <% if @campusunits.any? %>
	              <ul class="nav masthead-nav">
	              	<!-- <li class="active"><a href="#">Home</a></li> -->
	              	<% @campusunits.each do |campus| %>
		                <li><a href="/campus/<%= campus.id %>"><%= campus.name %></a></li>
		                <!-- <%= link_to "Campus", {:controller => "campusunits", :action => "show", :campusunit => campus.id }%> -->
		            <% end %>
	              </ul>
	          <% end %>
            </div>
          </div>

          <div class="inner cover">
           <%= yield %>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>Cover template for <a href="http://getbootstrap.com">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
            </div>
          </div>

        </div>

      </div>

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/docs.min.js"></script>


</body>
</html>